{% extends "base_generic.html" %}

xhamster-com_58309_m.jpg


{% block content %}
  <h1>Title: {{ author.title }}</h1>

  <p><strong>First_name:</strong> <a href="">{{ author.first_name }}</a></p>
  <p><strong>Last_name:</strong> {{ author.last_name }}</p>
  <p><strong>Date_of_birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date_of_death:</strong> {{ author.date_of_death }}</p>
  <p><strong>Genre:</strong> {{ author.genre.all|join:", " }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in author.authorinstance_set.all %}}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}